VITE_SUPABASE_URL=VITE_SUPABASE_URL
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY
SESSION_KEY_STORAGE=SESSION_KEY_STORAGE
VITE_NUMBER_CONTACT=VITE_NUMBER_CONTACT
VITE_NAME_CONTACT=VITE_NAME_CONTACT